# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user-specific data
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build products
build/
DerivedData/
*.hmap
*.ipa

# Swift Package Manager
.build/
.swiftpm/

# Python
__pycache__/
*.pyc
.venv/
